# Data files
#*.csv
*.txt
#*.TXT
*.zip

# Presentation related files
*.fig
*.pptx
*.png
*.avi

# Scratch work
*.mlx
*.jpg
figures_paper/
intermediate_raw/
src/Old/
src/external_toolboxes/
*.asv

# Pycharm
.idea/*
